* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(4, 21, 36);
}

.slider {
  width: 1024px;
  height: 576px;
  overflow: hidden;
  border-radius: 15px;

  transition: all ease 0.5s;
}

.slides {
  width: 5120px;
  display: flex;
}

.image img {
  width: 1024px;
  height: 576px;
}

#current {
  margin-left: 0;

  transition: all ease 0.9s;
}

.dots {
  position: absolute;
  color: #fff;
  padding: 10px;
}
